* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

input {
    outline: none;
    border: 1px solid #b1b1b1;
    cursor: pointer;
}

.form__wrapper {
    width: 600px;
    margin: 0 auto;

    padding: 25px 20px;
    background-color: bisque;
}

.wrapper {
    border: 1px solid #5e5e5e;
    border-radius: 20px;
    margin: 25px 0;
    padding: 10px 20px;
}

.input__wrap {
    display: flex;
    flex-direction: column;
}

.legend {
    font-size: 20px;
    font-weight: bold;
}

.input {
    width: 250px;
    margin: 10px 0;
    padding: 10px 15px;
    border-radius: 10px;
}

.checkbox {
    margin: 10px 10px;
}

.submit {
    width: 100px;
    height: 30px;
    border-radius: 10px;
}